<br>
<br>
<div class="container">
  <div class="jumbotron" style="background-color: white;">
    <div class="container">
      <div class="text-center">
        <h2 class="text-center">Agregar Colindate</h2>
      </div>
      <%= simple_form_for [@urbano, @neighbor] do |f|%>
      <%= f.input :name, :label => "Nombre" %>
      <%= f.input :id_number, :label => "Cedula" %>
      <%= f.input :estate, :label => "Finca" %>
      <%= f.input :cardinalidad, :label => "Cardinalidad",collection: [ "Norte", "Sur", "Este", "Oeste" ] %>
      <div class="text-center">
      <%= f.submit "Guardar", class: "btn btn-fichapp" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
