<br>
<div class="container">
  <div class="jumbotron" style="background-color: white;">
    <div class="">
      <div class="text-center">
        <img src="https://i.ibb.co/4YtSQ8N/municipioarraijanlogo-0.jpg" alt="municipioarraijanlogo-0" alt=""height="180">
       <br>
       <br>
       <h1><i class="fas fa-building"></i></h1>
       <h2>FICHAS URBANAS</h2>
     </div>
    <br>
    <div class="text-center">
        <form action="/urbanos" method="get">
          <div class="input-group">
            <input type="text" class="form-control" size="50" placeholder="Numero de Lote" name="search" id="search">
            <div class="input-group-btn">
              <button class="btn btn-fichapp" type="submit" value="Search" data-disable-with="Search" name="commit">Buscar</button>
            </div>
          </div>
        </form>
      </div>
    <br>
     <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Numero de Lote</th>
            <th scope="col"><i class="fas fa-eye"></i></th>
            <th scope="col"><i class="fas fa-pencil-alt"></i></th>
            <th scope="col"><i class="fas fa-trash-alt"></i></th>
          </tr>
        </thead>

        <tbody>
          <% @urbanos.each do |urbano| %>
          <tr>
            <th scope="row"><%= urbano.n_predio %></th>
            <td style="border-color: white;"><%= link_to 'Ver', urbano %></td>
            <td style="border-color: white;"><%= link_to 'Editar', edit_urbano_path(urbano) %></td>
            <td style="border-color: white;"><%= link_to 'Eliminar', urbano, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
    <div class="text-center">
      <% if current_user.role === "Inspector" %>
      <p></p>
      <% else %>
      <%= link_to 'Registar', new_urbano_path, class: 'btn btn-fichapp' %>
      <% end %>
    </div>
  </div>
</div>
</div>
<br>
<br>

