<br>

<div class="container">
  <div class="jumbotron" style="background-color: white;">
    <div class="text-center">
      <img src="https://i.ibb.co/4YtSQ8N/municipioarraijanlogo-0.jpg" alt="municipioarraijanlogo-0" alt=""height="180">
      <br>
      <br>
      <h2 class="text-center">Ficha Catastral Urbano #<%= @urbano.id %></h2>
    </div>
    <br>
    <h3>Cedula catastral: <%= @urbano.id_catastral %></h3>
    <hr>
    <p><%= link_to "Reporte (PDF)", report_urbano_path(@urbano), target: "_blank" %></p>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home" style="color: black;">General</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1" style="color: black;">Propietario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2" style="color: black;">Predio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu3" style="color: black;">Colindantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu4" style="color: black;">Propietarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu5" style="color: black;">Levantamiento</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="home" class="container tab-pane active"><br>
           <div class="row">
            <div class="col-md-6">
              <h3>Localizacion del predio</h3>
              <hr>
              <p><strong>Dirreccion:</strong></p>
              <div id='map' style='width: 400px; height: 300px;'></div>
              <br>
              <p>
                <strong>Provincia:</strong>
                <%= @urbano.provincia %>
              </p>

              <p>
                <strong>Distrito:</strong>
                <%= @urbano.distrito %>
              </p>

              <p>
                <strong>Corregimiento:</strong>
                <%= @urbano.corregimiento %>
              </p>

              <p>
                <strong>Ejido:</strong>
                <%= @urbano.ejido %>
              </p>

              <p>
                <strong>Lugar:</strong>
                <%= @urbano.lugar %>
              </p>

              <p>
                <strong>Calle:</strong>
                <%= @urbano.calle %>
              </p>

              <p>
                <strong>Localizacion:</strong>
                <%= @urbano.localizacion %>
              </p>
              <br>
              <h3>Detalles del Titulo</h3>
              <hr>
              <p>
                <strong>Finca:</strong>
                <%= @urbano.finca %>
              </p>

              <p>
                <strong>Folio:</strong>
                <%= @urbano.folio %>
              </p>

              <p>
                <strong>Docum:</strong>
                <%= @urbano.docum %>
              </p>

              <p>
                <strong>Operación:</strong>
                <%= @urbano.operacion %>
              </p>

              <p>
                <strong>Tomo:</strong>
                <%= @urbano.tomo %>
              </p>

              <p>
                <strong>Rollo:</strong>
                <%= @urbano.rollo %>
              </p>

              <p>
                <strong>Registro:</strong>
                <%= @urbano.registro %>
              </p>

              <p>
                <strong>Asiento:</strong>
                <%= @urbano.asiento %>
              </p>

              <p>
                <strong>Fecha del titulo:</strong>
                <%= @urbano.fecha_del_titulo %>
              </p>

              <p>
                <strong>Fecha de registro:</strong>
                <%= @urbano.fecha_de_registro %>
              </p>

              <p>
                <strong>Superficie inscrita:</strong>
                <%= @urbano.superficie_inscrita %>
              </p>

              <p>
                <strong>Finca madre:</strong>
                <%= @urbano.finca_madre %>
              </p>

              <p>
                <strong>Otorgado:</strong>
                <%= @urbano.otorgado %>
              </p>

              <p>
                <strong>Tipo de titulo:</strong>
                <%= @urbano.tipo_de_titulo %>
              </p>
            </div>
            <div class="col-md-6">
              <h3>Datos Generales del Predio</h3>
              <hr>
              <p>
                <strong>No. Mapa catastral:</strong>
                <%= @urbano.n_mapa_catastral %>
              </p>

              <p>
                <strong>No. Ortofoto:</strong>
                <%= @urbano.n_ortofoto %>
              </p>

              <p>
                <strong>No. Predio:</strong>
                <%= @urbano.n_predio %>
              </p>
              <p>
                <strong>Secuencia Predial:</strong>
                <%= @urbano.s_predial %>
              </p>
              <p>
                <strong>Nombre predio:</strong>
                <%= @urbano.nombre_predio %>
              </p>
              <br>
              <h3>Estatus Juridico del Predio</h3>
              <hr>
              <p>
                <strong>Titulo propiedad:</strong>
                <%= @urbano.titulo_propiedad %>
              </p>
              <p>
                <strong>Ph:</strong>
                <%= @urbano.ph %>
              </p>
              <p>
                <strong>Finca ph:</strong>
                <%= @urbano.finca_ph %>
              </p>
              <p>
                <strong>Concesion admin:</strong>
                <%= @urbano.concesion_admin %>
              </p>
              <p>
                <strong>Litigio:</strong>
                <%= @urbano.litigio %>
              </p>
              <p>
                <strong>Tipo de litigio:</strong>
                <%= @urbano.tipo_de_litigio %>
              </p>
              <br>
              <h3>Detalle de la Concesion</h3>
              <hr>
              <p>
                <strong>No. Resolucion:</strong>
                <%= @urbano.n_resolucion %>
              </p>

              <p>
                <strong>Fecha resolucion:</strong>
                <%= @urbano.fecha_resolucion %>
              </p>
              <br>
              <h3>Datos Catastrales</h3>
              <hr>
              <p>
                <strong>Tipo resolucion:</strong>
                <%= @urbano.tipo_resolucion %>
              </p>

              <p>
                <strong>No. de Orden:</strong>
                <%= @urbano.n_de_orden %>
              </p>

              <p>
                <strong>No. de Plano:</strong>
                <%= @urbano.n_plano %>
              </p>

              <p>
                <strong>Globo:</strong>
                <%= @urbano.globo %>
              </p>

              <p>
                <strong>Plano de Referencia:</strong>
                <%= @urbano.plano_de_referencia %>
              </p>

              <p>
                <strong>Sup Reportada:</strong>
                <%= @urbano.sup_reportada %>
              </p>
            </div>
          </div>
      </div>
      <div id="menu1" class="container tab-pane fade"><br>
        <div class="row">
          <div class="col-md-6">
            <h3>Datos del Propietario</h3>
            <hr>
            <p>
              <strong>Tipo de persona:</strong>
              <%= @urbano.tipo_de_persona %>
            </p>

            <p>
              <strong>Sexo:</strong>
              <%= @urbano.sexo %>
            </p>

            <p>
              <strong>Cedula:</strong>
              <%= @urbano.cedula %>
            </p>

            <p>
              <strong>N dependientes:</strong>
              <%= @urbano.n_dependientes %>
            </p>

            <p>
              <strong>Nacionalidad:</strong>
              <%= @urbano.nacionalidad %>
            </p>

            <p>
              <strong>Ocupacion:</strong>
              <%= @urbano.ocupacion %>
            </p>

            <p>
              <strong>Primer nombre:</strong>
              <%= @urbano.primer_nombre %>
            </p>

            <p>
              <strong>Segundo nombre:</strong>
              <%= @urbano.segundo_nombre %>
            </p>

            <p>
              <strong>Primer apellido:</strong>
              <%= @urbano.primer_apellido %>
            </p>

            <p>
              <strong>Segundo apellido:</strong>
              <%= @urbano.segundo_apellido %>
            </p>

            <p>
              <strong>Nombre casada:</strong>
              <%= @urbano.nombre_casada %>
            </p>

            <p>
              <strong>Nombre usual:</strong>
              <%= @urbano.nombre_usual %>
            </p>

            <p>
              <strong>Apellido usual:</strong>
              <%= @urbano.apellido_usual %>
            </p>

            <p>
              <strong>Organizacion:</strong>
              <%= @urbano.organizacion %>
            </p>

            <p>
              <strong>Fecha de nacimiento:</strong>
              <%= @urbano.fecha_de_nacimiento %>
            </p>

            <p>
              <strong>Telefono:</strong>
              <%= @urbano.telefono %>
            </p>

            <p>
              <strong>Dirreccion:</strong>
              <%= @urbano.dirreccion %>
            </p>

            <p>
              <strong>Estado civil:</strong>
              <%= @urbano.estado_civil %>
            </p>

            <p>
              <strong>Fecha de ocupacion:</strong>
              <%= @urbano.fecha_de_ocupacion %>
            </p>

            <p>
              <strong>Apartado:</strong>
              <%= @urbano.apartado %>
            </p>
          </div>
        </div>

      </div>
      <div id="menu2" class="container tab-pane fade"><br>
        <div class="row">
          <div class="col-md-6">
            <h3>Limitaciones Naturales</h3>
            <hr>
            <p>
              <strong>Inclinacion:</strong>
              <%= @urbano.inclinacion %>
            </p>

            <p>
              <strong>Aprovechamiento:</strong>
              <%= @urbano.aprovechamiento %>
            </p>
            <p>
              <strong>Vivienda:</strong>
              <%= @urbano.vivienda_t %>
            </p>

            <p>
              <strong>Comercial:</strong>
              <%= @urbano.comercial_t %>
            </p>

            <p>
              <strong>Industrial:</strong>
              <%= @urbano.industrial_t %>
            </p>

            <p>
              <strong>Turístico:</strong>
              <%= @urbano.turístico_t %>
            </p>

            <p>
              <strong>Educacional:</strong>
              <%= @urbano.educacional_t %>
            </p>

            <p>
              <strong>Uso publico:</strong>
              <%= @urbano.uso_publico_t %>
            </p>

            <p>
              <strong>Comunal:</strong>
              <%= @urbano.comunal_t %>
            </p>

            <p>
              <strong>Agricola:</strong>
              <%= @urbano.agricola_t %>
            </p>

            <p>
              <strong>Ganadero:</strong>
              <%= @urbano.ganadero_t %>
            </p>

            <p>
              <strong>Otro:</strong>
              <%= @urbano.otro_t %>
            </p>

            <p>
              <strong>Vias acesso:</strong>
              <%= @urbano.vias_acesso %>
            </p>
            <h3>Datos Generales de la Manzana</h3>
            <hr>
            <p>
              <strong>Numero de Manzanaa:</strong>
              <%= @urbano.n_manzana %>
            </p>

            <p>
              <strong>Uso de la Tierra en la Manzana:</strong>
              <%= @urbano.m_uso %>
            </p>

            <p>
              <strong>Acera:</strong>
              <%= @urbano.cera %>
            </p>

            <p>
              <strong>Acueductos:</strong>
              <%= @urbano.acueductos %>
            </p>

            <p>
              <strong>Tuberia de Gas:</strong>
              <%= @urbano.tuberia_gas %>
            </p>

            <p>
              <strong>Cordon:</strong>
              <%= @urbano.m_cordon %>
            </p>

            <p>
              <strong>Alcantarillado:</strong>
              <%= @urbano.alcantarillado %>
            </p>

            <p>
              <strong>Telefono:</strong>
              <%= @urbano.telefono_m %>
            </p>

            <p>
              <strong>Acceso a Luz:</strong>
              <%= @urbano.m_luz %>
            </p>

            <p>
              <strong>Tv:</strong>
              <%= @urbano.tv %>
            </p>

            <p>
              <strong>Señal Celular:</strong>
              <%= @urbano.senal_celular %>
            </p>

            <p>
              <strong>Señal satelital:</strong>
              <%= @urbano.sena_satelital %>
            </p>

            <p>
              <strong>Otro:</strong>
              <%= @urbano.m_otro %>
            </p>

            <p>
              <strong>Material de la Calle:</strong>
              <%= @urbano.material_calle %>
            </p>

            <h3>Descripcion de la Mejora</h3>
            <hr>

            <p>
              <strong>Uso Recidencial:</strong>
              <%= @urbano.uso_recidencial %>
            </p>

            <p>
              <strong>Uso Tuiristico:</strong>
              <%= @urbano.uso_tuiristico %>
            </p>

            <p>
              <strong>Uso Industrial:</strong>
              <%= @urbano.uso_industrial %>
            </p>

            <p>
              <strong>Uso Educacioal:</strong>
              <%= @urbano.uso_educacioal %>
            </p>

            <p>
              <strong>Uso Comercial:</strong>
              <%= @urbano.uso_comercial %>
            </p>

            <p>
              <strong>Uso Recreacional:</strong>
              <%= @urbano.uso_recreacional %>
            </p>

            <p>
              <strong>Tipo de Resindencial:</strong>
              <%= @urbano.tipo_resindencial %>
            </p>

            <p>
              <strong>Paredes:</strong>
              <%= @urbano.paredes %>
            </p>

            <p>
              <strong>Estructura techo:</strong>
              <%= @urbano.estructura_techo %>
            </p>

            <p>
              <strong>Cubierta de Techo:</strong>
              <%= @urbano.cubierta_techo %>
            </p>

            <p>
              <strong>Piso Cemento:</strong>
              <%= @urbano.piso_cemento %>
            </p>

            <p>
              <strong>Piso Baldosa:</strong>
              <%= @urbano.piso_baldosa %>
            </p>

            <p>
              <strong>Piso Granito:</strong>
              <%= @urbano.piso_granito %>
            </p>

            <p>
              <strong>Piso Ceramica:</strong>
              <%= @urbano.piso_ceramica %>
            </p>

            <p>
              <strong>Piso Madera:</strong>
              <%= @urbano.piso_madera %>
            </p>

            <p>
              <strong>Piso Tierra:</strong>
              <%= @urbano.piso_tierra %>
            </p>

            <p>
              <strong>Otro Piso:</strong>
              <%= @urbano.piso_otro %>
            </p>

            <p>
              <strong>Agua Solamente:</strong>
              <%= @urbano.solo_agua %>
            </p>

            <p>
              <strong>No. de Diseminados:</strong>
              <%= @urbano.n_diseminados %>
            </p>

            <p>
              <strong>No. de Servicios de 2 Artefactos:</strong>
              <%= @urbano.n_servicio2 %>
            </p>

            <p>
              <strong>No. de Servicios de 3 Artefactos:</strong>
              <%= @urbano.n_servicio3 %>
            </p>

            <p>
              <strong>Electricidad:</strong>
              <%= @urbano.electricidad %>
            </p>

            <p>
              <strong>Otro:</strong>
              <%= @urbano.m_otro2 %>
            </p>


          </div>
        </div>
      </div>
      <div id="menu3" class="container tab-pane fade"><br>

        <div class="row">
          <div class="col-md-6">
            <h3>Datos de colindates</h3>
            <hr>
            <% @urbano.urban_neighbors.each do |n| %>
            <p>
              <strong>Nombre:</strong>
              <%= n.name %>
            </p>
            <p>
              <strong>Cedula:</strong>
              <%= n.id_number %>
            </p>
            <p>
              <strong>Finca:</strong>
              <%= n.estate %>
            </p>
            <%= link_to "Eliminar",
            neighbor_path(n),
            method: :delete,
            data: { confirm: "Seguro?" } %>

            <% end %>
            <br>
            <br>
            <%= link_to 'Agregar Colindante', new_urbano_urban_neighbor_path(@urbano), class: "btn btn-fichapp"%>
          </div>
        </div>
      </div>
      <div id="menu4" class="container tab-pane fade"><br>
        <div class="row">
         <div class="col-md-6">
          <h3>Propietarios</h3>
              <hr>
              <% @urbano.urban_owners.each do |n| %>
              <p>
                <strong>Fecha de Ocupación:</strong>
                <%= n.fecha_oc %>
              </p>
              <p>
                <strong>Fecha de Nacimiento:</strong>
                <%= n.fecha_nac %>
              </p>
              <p>
                <strong>Primer Nombre:</strong>
                <%= n.p_nombre %>
              </p>
              <p>
                <strong>Segundo Nombre:</strong>
                <%= n.s_nombre %>
              </p>
              <p>
                <strong>Primer Apellido:</strong>
                <%= n.p_apellido %>
              </p>
              <p>
                <strong>Segundo Apellido:</strong>
                <%= n.s_apellido %>
              </p>
              <p>
                <strong>Apellido de Casada:</strong>
                <%= n.c_apellido %>
              </p>
              <p>
                <strong>Nombre Usual:</strong>
                <%= n.nombre_u %>
              </p>
              <p>
                <strong>Organizacion:</strong>
                <%= n.organizacion %>
              </p>
              <p>
                <strong>Cedula/RUC:</strong>
                <%= n.cedula %>
              </p>
              <p>
                <strong>Estado Civil:</strong>
                <%= n.estado_c %>
              </p>
              <p>
                <strong>Telefono:</strong>
                <%= n.telefono %>
              </p>
              <p>
                <strong>Apartado:</strong>
                <%= n.apartado %>
              </p>
              <p>
                <strong>Ocupación:</strong>
                <%= n.ocupacion %>
              </p>
              <p>
                <strong>Dirrección:</strong>
                <%= n.dirreccion %>
              </p>
              <%= link_to "Eliminar",
              owner_path(n),
              method: :delete,
              data: { confirm: "Seguro?" } %>
              <br>
              <br>
              <% end %>
              <%= link_to 'Agregar Propietario', new_urbano_urban_owner_path(@urbano), class: "btn btn-fichapp"%>
            </div>

      </div>
    </div>
    <div id="menu5" class="container tab-pane fade"><br>
      <div class="row">
        <div class="col-md-6">
          <h3>Datos de Levantamiento</h3>
              <hr>
              <p>
                <strong>Empadronador:</strong>
                <%= @urbano.empadronador_nombre %>
              </p>
              <p>
                <strong>Inspector:</strong>
                <%= @urbano.inspector_nombre %>
              </p>

              <p>
                <strong>Supervisor:</strong>
                <%= @urbano.supervisor_nombre %>
              </p>

              <p>
                <strong>Captador:</strong>
                <%= @urbano.captador_nombre %>
              </p>

              <p>
                <strong>Empresa:</strong>
                <%= @urbano.empresa %>
              </p>

              <p>
                <strong>Metodologia:</strong>
                <%= @urbano.metodologia %>
              </p>

              <p>
                <strong>Fecha levantamiento:</strong>
                <%= @urbano.fecha_levantamiento %>
              </p>

              <p>
                <strong>Hora levantamiento:</strong>
                <%= @urbano.hora_levantamiento %>
              </p>

              <p>
                <strong>Equipo:</strong>
                <%= @urbano.equipo %>
              </p>

              <p>
                <strong>Verficado:</strong>
                <%= @urbano.verficado %>
              </p>

              <p>
                <strong>Cedula propetario:</strong>
                <%= @urbano.cedula_propetario %>
              </p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <p>Creado por: <%= @urbano.user.name  %> <%= @urbano.user.last_name  %></p>
   <%= link_to 'Editar', edit_urbano_path(@urbano) %>
</div>
</div>

<br>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibGVvbmFyZG9sdXhidXJnIiwiYSI6ImNrcGQ1anJyazFjaG4yb28xZXd3OHN2cXYifQ.-GSLSv_1CUBP_y3-DNo7Ew';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [<%= @urbano.longitude %>, <%= @urbano.latitude %>],
    zoom: 12
  });

  map.addControl(new mapboxgl.NavigationControl());
            // Create a default Marker and add it to the map.
            var marker1 = new mapboxgl.Marker()
            .setLngLat([<%= @urbano.longitude %>, <%= @urbano.latitude %>])
            .addTo(map);

          </script>
