<br>
<br>

<div class="container">
  <div class="jumbotron" style="background-color: white;">
    <div class="text-center">
      <h1><i class="fas fa-mountain"></i></h1>
      <h2 class="text-center">Ficha Catastral Rural #<%= @rural.id %></h2>
    </div>
    <br>
    <h3>Cedula catastral: <%= @rural.id_catastral %></h3>
    <hr>
    <p><%= link_to "Reporte (PDF)", report_rural_path(@rural), target: "_blank" %></p>
    <div class="">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home" style="color: black;">General</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu1" style="color: black;">Propietario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2" style="color: black;">Predio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu3" style="color: black;">Colindantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu4" style="color: black;">Propietarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu5" style="color: black;">Levantamiento</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
          <div class="row">
            <div class="col-md-6">
              <h3>Localizacion del predio</h3>
              <hr>
              <p><strong>Dirreccion:</strong></p>
              <div id='map' style='width: 400px; height: 300px;'></div>
              <br>
              <p>
                <strong>Provincia:</strong>
                <%= @rural.provincia %>
              </p>

              <p>
                <strong>Distrito:</strong>
                <%= @rural.distrito %>
              </p>

              <p>
                <strong>Corregimiento:</strong>
                <%= @rural.corregimiento %>
              </p>

              <p>
                <strong>Ejido:</strong>
                <%= @rural.ejido %>
              </p>

              <p>
                <strong>Lugar:</strong>
                <%= @rural.lugar %>
              </p>

              <p>
                <strong>Calle:</strong>
                <%= @rural.calle %>
              </p>

              <p>
                <strong>Localizacion:</strong>
                <%= @rural.localizacion %>
              </p>
              <br>
              <h3>Detalles del Titulo</h3>
              <hr>
              <p>
                <strong>Finca:</strong>
                <%= @rural.finca %>
              </p>

              <p>
                <strong>Folio:</strong>
                <%= @rural.folio %>
              </p>

              <p>
                <strong>Docum:</strong>
                <%= @rural.docum %>
              </p>

              <p>
                <strong>Operación:</strong>
                <%= @rural.operacion %>
              </p>

              <p>
                <strong>Tomo:</strong>
                <%= @rural.tomo %>
              </p>

              <p>
                <strong>Rollo:</strong>
                <%= @rural.rollo %>
              </p>

              <p>
                <strong>Registro:</strong>
                <%= @rural.registro %>
              </p>

              <p>
                <strong>Asiento:</strong>
                <%= @rural.asiento %>
              </p>

              <p>
                <strong>Fecha del titulo:</strong>
                <%= @rural.fecha_del_titulo %>
              </p>

              <p>
                <strong>Fecha de registro:</strong>
                <%= @rural.fecha_de_registro %>
              </p>

              <p>
                <strong>Superficie inscrita:</strong>
                <%= @rural.superficie_inscrita %>
              </p>

              <p>
                <strong>Finca madre:</strong>
                <%= @rural.finca_madre %>
              </p>

              <p>
                <strong>Otorgado:</strong>
                <%= @rural.otorgado %>
              </p>

              <p>
                <strong>Tipo de titulo:</strong>
                <%= @rural.tipo_de_titulo %>
              </p>
            </div>
            <div class="col-md-6">
              <h3>Datos Generales del Predio</h3>
              <hr>
              <p>
                <strong>No. Mapa catastral:</strong>
                <%= @rural.n_mapa_catastral %>
              </p>

              <p>
                <strong>No. Ortofoto:</strong>
                <%= @rural.n_ortofoto %>
              </p>

              <p>
                <strong>No. Predio:</strong>
                <%= @rural.n_predio %>
              </p>
              <p>
                <strong>Secuencia Predial:</strong>
                <%= @rural.s_predial %>
              </p>
              <p>
                <strong>Nombre predio:</strong>
                <%= @rural.nombre_predio %>
              </p>
              <br>
              <h3>Estatus Juridico del Predio</h3>
              <hr>
              <p>
                <strong>Titulo propiedad:</strong>
                <%= @rural.titulo_propiedad %>
              </p>
              <p>
                <strong>Ph:</strong>
                <%= @rural.ph %>
              </p>
              <p>
                <strong>Finca ph:</strong>
                <%= @rural.finca_ph %>
              </p>
              <p>
                <strong>Concesion admin:</strong>
                <%= @rural.concesion_admin %>
              </p>
              <p>
                <strong>Litigio:</strong>
                <%= @rural.litigio %>
              </p>
              <p>
                <strong>Tipo de litigio:</strong>
                <%= @rural.tipo_de_litigio %>
              </p>
              <br>
              <h3>Detalle de la Concesion</h3>
              <hr>
              <p>
                <strong>No. Resolucion:</strong>
                <%= @rural.n_resolucion %>
              </p>

              <p>
                <strong>Fecha resolucion:</strong>
                <%= @rural.fecha_resolucion %>
              </p>
              <br>
              <h3>Datos Catastrales</h3>
              <hr>
              <p>
                <strong>Tipo resolucion:</strong>
                <%= @rural.tipo_resolucion %>
              </p>

              <p>
                <strong>No. de Orden:</strong>
                <%= @rural.n_de_orden %>
              </p>

              <p>
                <strong>No. de Plano:</strong>
                <%= @rural.n_plano %>
              </p>

              <p>
                <strong>Globo:</strong>
                <%= @rural.globo %>
              </p>

              <p>
                <strong>Plano de Referencia:</strong>
                <%= @rural.plano_de_referencia %>
              </p>

              <p>
                <strong>Sup Reportada:</strong>
                <%= @rural.sup_reportada %>
              </p>
            </div>
          </div>
          <br>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
          <div class="row">
            <div class="col-md-6">
              <h3>Datos del Propietario</h3>
              <hr>
              <p>
                <strong>Tipo de persona:</strong>
                <%= @rural.tipo_de_persona %>
              </p>

              <p>
                <strong>Sexo:</strong>
                <%= @rural.sexo %>
              </p>

              <p>
                <strong>Cedula:</strong>
                <%= @rural.cedula %>
              </p>

              <p>
                <strong>No. dependientes:</strong>
                <%= @rural.n_dependientes %>
              </p>

              <p>
                <strong>Nacionalidad:</strong>
                <%= @rural.nacionalidad %>
              </p>

              <p>
                <strong>Ocupación:</strong>
                <%= @rural.ocupacion %>
              </p>

              <p>
                <strong>Primer nombre:</strong>
                <%= @rural.primer_nombre %>
              </p>

              <p>
                <strong>Segundo nombre:</strong>
                <%= @rural.segundo_nombre %>
              </p>

              <p>
                <strong>Primer apellido:</strong>
                <%= @rural.primer_apellido %>
              </p>

              <p>
                <strong>Segundo apellido:</strong>
                <%= @rural.segundo_apellido %>
              </p>

              <p>
                <strong>Nombre casada:</strong>
                <%= @rural.nombre_casada %>
              </p>

              <p>
                <strong>Nombre usual:</strong>
                <%= @rural.nombre_usual %>
              </p>

              <p>
                <strong>Apellido usual:</strong>
                <%= @rural.apellido_usual %>
              </p>

              <p>
                <strong>Organizacion:</strong>
                <%= @rural.organizacion %>
              </p>

              <p>
                <strong>Fecha de nacimiento:</strong>
                <%= @rural.fecha_de_nacimiento %>
              </p>

              <p>
                <strong>Teléfono:</strong>
                <%= @rural.telefono %>
              </p>

              <p>
                <strong>Dirrección:</strong>
                <%= @rural.dirreccion %>
              </p>

              <p>
                <strong>Estado civil:</strong>
                <%= @rural.estado_civil %>
              </p>

              <p>
                <strong>Fecha de ocupación:</strong>
                <%= @rural.fecha_de_ocupacion %>
              </p>

              <p>
                <strong>Apartado:</strong>
                <%= @rural.apartado %>
              </p>
            </div>
          </div>

        </div>
        <div id="menu2" class="container tab-pane fade"><br>
          <div class="row">
            <div class="col-md-6">
              <h3>Caracteristicas del predio</h3>
              <hr>
              <p>
                <strong>Topografia:</strong>
                <%= @rural.topografia %>
              </p>
              <p>
                <strong>Plano Aprox:</strong>
                <%= @rural.pendiente_ap %>
              </p>
              <p>
                <strong>Agua:</strong>
                <%= @rural.agua %>
              </p>

              <p>
                <strong>Luz:</strong>
                <%= @rural.luz %>
              </p>

              <p>
                <strong>Ninguna:</strong>
                <%= @rural.x_none %>
              </p>

              <p>
                <strong>Tipo de construcción:</strong>
                <%= @rural.tipo_de_construccion %>
              </p>

              <p>
                <strong>Propetario:</strong>
                <%= @rural.del_propietario %>
              </p>

              <p>
                <strong>Otro propetario:</strong>
                <%= @rural.de_otro %>
              </p>

              <p>
                <strong>Uso de tierra:</strong>
                <%= @rural.uso_de_tierra %>
              </p>

              <p>
                <strong>Cercas existentes:</strong>
                <%= @rural.cercas_existentes %>
              </p>

              <p>
                <strong>Hidrigrafia:</strong>
                <%= @rural.hidrografia %>
              </p>

              <p>
                <strong>Vias de acceso:</strong>
                <%= @rural.vias_de_acceso %>
              </p>

              <p>
                <strong>Servidumbre de acceso:</strong>
                <%= @rural.servidumbre_de_acceso %>
              </p>

              <p>
                <strong>Servidumbre:</strong>
                <%= @rural.servidumbre %>
              </p>

            </div>
          </div>
        </div>
        <div id="menu3" class="container tab-pane fade"><br>
          <div class="row">
            <div class="col-md-6">
            <h3>Colindantes</h3>
              <hr>
              <% @rural.neighbors.each do |n| %>
              <p>
                <strong>Nombre:</strong>
                <%= n.name %>
              </p>
              <p>
                <strong>Cedula:</strong>
                <%= n.id_number %>
              </p>
              <p>
                <strong>Finca:</strong>
                <%= n.estate %>
              </p>
              <p>
                <strong>Cardinalidad:</strong>
                <%= n.cardinalidad %>
              </p>
              <%= link_to "Eliminar",
              neighbor_path(n),
              method: :delete,
              data: { confirm: "Seguro?" } %>
              <br>
              <br>
              <% end %>
              <%= link_to 'Agregar Colindante', new_rural_neighbor_path(@rural), class: "btn btn-fichapp"%>
            </div>
          </div>
        </div>
        <div id="menu4" class="container tab-pane fade"><br>
          <div class="row">
            <div class="col-md-6">
              <h3>Propietarios</h3>
              <hr>
              <% @rural.owners.each do |n| %>
              <p>
                <strong>Fecha de Ocupación:</strong>
                <%= n.fecha_oc %>
              </p>
              <p>
                <strong>Fecha de Nacimiento:</strong>
                <%= n.fecha_nac %>
              </p>
              <p>
                <strong>Sexo:</strong>
                <%= n.sexo %>
              </p>
              <p>
                <strong>Primer Nombre:</strong>
                <%= n.p_nombre %>
              </p>
              <p>
                <strong>Segundo Nombre:</strong>
                <%= n.s_nombre %>
              </p>
              <p>
                <strong>Primer Apellido:</strong>
                <%= n.p_apellido %>
              </p>
              <p>
                <strong>Segundo Apellido:</strong>
                <%= n.s_apellido %>
              </p>
              <p>
                <strong>Apellido de Casada:</strong>
                <%= n.c_apellido %>
              </p>
              <p>
                <strong>Nombre Usual:</strong>
                <%= n.nombre_u %>
              </p>
              <p>
                <strong>Organizacion:</strong>
                <%= n.organizacion %>
              </p>
              <p>
                <strong>Cedula/RUC:</strong>
                <%= n.cedula %>
              </p>
              <p>
                <strong>Estado Civil:</strong>
                <%= n.estado_c %>
              </p>
              <p>
                <strong>Telefono:</strong>
                <%= n.telefono %>
              </p>
              <p>
                <strong>Apartado:</strong>
                <%= n.apartado %>
              </p>
              <p>
                <strong>Ocupación:</strong>
                <%= n.ocupacion %>
              </p>
              <p>
                <strong>Dirrección:</strong>
                <%= n.dirreccion %>
              </p>
              <%= link_to "Eliminar",
              owner_path(n),
              method: :delete,
              data: { confirm: "Seguro?" } %>
              <br>
              <br>
              <% end %>
              <%= link_to 'Agregar Propietario', new_rural_owner_path(@rural), class: "btn btn-fichapp"%>
            </div>
          </div>
        </div>
        <div id="menu5" class="container tab-pane fade"><br>
          <div class="row">
            <div class="col-md-6">
              <h3>Datos de Levantamiento</h3>
              <hr>
              <p>
                <strong>Empadronador:</strong>
                <%= @rural.empadronador_nombre %>
              </p>
              <p>
                <strong>Inspector:</strong>
                <%= @rural.inspector_nombre %>
              </p>

              <p>
                <strong>Supervisor:</strong>
                <%= @rural.supervisor_nombre %>
              </p>

              <p>
                <strong>Captador:</strong>
                <%= @rural.captador_nombre %>
              </p>

              <p>
                <strong>Empresa:</strong>
                <%= @rural.empresa %>
              </p>

              <p>
                <strong>Metodologia:</strong>
                <%= @rural.metodologia %>
              </p>

              <p>
                <strong>Fecha levantamiento:</strong>
                <%= @rural.fecha_levantamiento %>
              </p>

              <p>
                <strong>Hora levantamiento:</strong>
                <%= @rural.hora_levantamiento %>
              </p>

              <p>
                <strong>Equipo:</strong>
                <%= @rural.equipo %>
              </p>

              <p>
                <strong>Verficado:</strong>
                <%= @rural.verficado %>
              </p>

              <p>
                <strong>Cedula propetario:</strong>
                <%= @rural.cedula_propetario %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <p>Creado por: <%= @rural.user.name  %> <%= @rural.user.last_name  %></p>
       <%= link_to 'Editar', edit_rural_path(@rural) %>
    </div>
  </div>

  <br>
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibGVvbmFyZG9sdXhidXJnIiwiYSI6ImNrcGQ1anJyazFjaG4yb28xZXd3OHN2cXYifQ.-GSLSv_1CUBP_y3-DNo7Ew';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [<%= @rural.longitude %>, <%= @rural.latitude %>],
      zoom: 12
    });

    map.addControl(new mapboxgl.NavigationControl());
            // Create a default Marker and add it to the map.
            var marker1 = new mapboxgl.Marker()
            .setLngLat([<%= @rural.longitude %>, <%= @rural.latitude %>])
            .addTo(map);

          </script>
